version: "3.8"
services:
  rmq:
    container_name: rabbitmq
    image: "rabbitmq:3-management-alpine"
    hostname: rabbitmq

    volumes: 
      - ./configs/rmq/definitions.json:/etc/rabbitmq/definitions.json
      - ./configs/rmq/rabbitmq.conf:/etc/rabbitmq/rabbitmq.conf
      - ./data/rmq:/var/lib/rabbitmq/mnesia/rabbit@rabbitmq
      - ./logs/rabbitmq:/var/log/rabbitmq/log
    
    ports: 
      - 5672:5672
      - 15672:15672

  redis:
    container_name: redis
    image: "redis:alpine"

    volumes:
      - ./data/redis:/var/lib/redis
      - ./configs/redis/redis.conf:/usr/local/etc/redis/redis.conf

    environment:
      - REDIS_REPLICATION_MODE=master

    ports:
      - 6379:6379
    networks:
      redis_net:
        ipv4_address: 172.28.1.4

  
  postgres-db:
    container_name: postgresql
    image: "postgres:9.6.21-alpine"
    restart: unless-stopped

    volumes:
      - ./data/pgsql:/var/lib/postgresql/data

    environment:
      - POSTGRES_DB=postgres
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - PGDATA=/var/lib/postgresql/data

    ports:
      - 5432:5432
    networks:
      - postgres


networks:
  postgres:
    driver: bridge
  redis_net:
    ipam:
      driver: default
      config:
        - subnet: 172.28.0.0/16
